# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

!.env.example

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Logs
*.log
logs/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Cache
.cache/
temp/
tmp/

# Output files
reports/
downloads/
output/
cache/

# Generated data
*.xlsx
*.csv
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp